<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aixl.m.dao.aiScaleMapper">
  <resultMap id="BaseResultMap" type="com.aixl.m.model.aiScale">
    <id column="ai_scale_id" jdbcType="INTEGER" property="aiScaleId" />
    <result column="ai_scale_name" jdbcType="VARCHAR" property="aiScaleName" />
    <result column="ai_scale_overview" jdbcType="VARCHAR" property="aiScaleOverview" />
    <result column="ai_scale_notice" jdbcType="VARCHAR" property="aiScaleNotice" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ai_scale
    where ai_scale_id = #{aiScaleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aixl.m.model.aiScale">
    insert into ai_scale (ai_scale_id, ai_scale_name, ai_scale_overview, 
      ai_scale_notice)
    values (#{aiScaleId,jdbcType=INTEGER}, #{aiScaleName,jdbcType=VARCHAR}, #{aiScaleOverview,jdbcType=VARCHAR}, 
      #{aiScaleNotice,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aixl.m.model.aiScale">
    update ai_scale
    set ai_scale_name = #{aiScaleName,jdbcType=VARCHAR},
      ai_scale_overview = #{aiScaleOverview,jdbcType=VARCHAR},
      ai_scale_notice = #{aiScaleNotice,jdbcType=VARCHAR}
    where ai_scale_id = #{aiScaleId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ai_scale_id, ai_scale_name, ai_scale_overview, ai_scale_notice
    from ai_scale
    where ai_scale_id = #{aiScaleId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ai_scale_id, ai_scale_name, ai_scale_overview, ai_scale_notice
    from ai_scale
  </select>

  <select id="selectByPages" resultMap="BaseResultMap">
    select * from ai_scale
  </select>

  <select id="getScaleIdList" resultMap="BaseResultMap">
    select ai_scale_id from ai_scale
   </select>

</mapper>