<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aixl.m.dao.aiTestResultMapper">
  <resultMap id="BaseResultMap" type="com.aixl.m.model.aiTestResult">
    <id column="ai_user_id" jdbcType="CHAR" property="aiUserId" />
    <id column="ai_scale_id" jdbcType="INTEGER" property="aiScaleId" />
    <result column="ai_test_name" jdbcType="VARCHAR" property="aiTestName" />
  </resultMap>

  <resultMap id="Map1" type="com.aixl.m.model.aiTestResult">
    <id column="ai_user_id" jdbcType="CHAR" property="aiUserId" />
    <id column="ai_scale_id" jdbcType="INTEGER" property="aiScaleId" />
    <result column="ai_test_name" jdbcType="VARCHAR" property="aiTestName" />
    <collection property="testImgs" ofType="com.aixl.m.model.aiTestImg">
      <id column="ai_img_id" jdbcType="CHAR" property="aiImgId" />
      <id column="ai_report_time" jdbcType="TIMESTAMP" property="aiReportTime" />
<!--      <result column="ai_img_src" jdbcType="VARCHAR" property="aiImgSrc" />-->
<!--      <result column="ai_img_content" jdbcType="LONGVARCHAR" property="aiImgContent" />-->
      <result column="ai_scale_id" jdbcType="INTEGER" property="aiScaleId" />
    </collection>
    <collection property="testHtmls" ofType="com.aixl.m.model.aiTestHtml">
      <id column="ai_report_text_time" jdbcType="TIMESTAMP" property="aiReportTextTime" />
      <id column="ai_report_text_id" jdbcType="CHAR" property="aiReportTextId" />
      <result column="ai_doc_id" jdbcType="CHAR" property="aiDocId" />
      <result column="ai_doc_name" jdbcType="CHAR" property="aiDocName" />
<!--      <result column="ai_report_text_html" jdbcType="LONGVARCHAR" property="aiReportTextHtml" />-->
      <result column="ai_scale_id" jdbcType="INTEGER" property="aiScaleId" />
    </collection>
  </resultMap>

  <resultMap id="Map2" type="com.aixl.m.model.aiReport">
    <association property="testResult" javaType="com.aixl.m.model.aiTestResult">
      <id column="ai_user_id" jdbcType="CHAR" property="aiUserId" />
      <result column="ai_scale_id" jdbcType="INTEGER" property="aiScaleId" />
      <result column="ai_test_name" jdbcType="VARCHAR" property="aiTestName" />
    </association>
    <association property="testHtml" javaType="com.aixl.m.model.aiTestHtml">
      <id column="ai_report_text_time" jdbcType="TIMESTAMP" property="aiReportTextTime" />
      <id column="ai_report_text_id" jdbcType="CHAR" property="aiReportTextId" />
      <result column="ai_doc_id" jdbcType="CHAR" property="aiDocId" />
      <result column="ai_doc_name" jdbcType="CHAR" property="aiDocName" />
      <!--      <result column="ai_report_text_html" jdbcType="LONGVARCHAR" property="aiReportTextHtml" />-->
      <result column="ai_scale_id" jdbcType="INTEGER" property="aiScaleId" />
    </association>
    <association property="testImg" javaType="com.aixl.m.model.aiTestImg">
      <id column="ai_img_id" jdbcType="CHAR" property="aiImgId" />
      <id column="ai_report_time" jdbcType="TIMESTAMP" property="aiReportTime" />
      <!--      <result column="ai_img_src" jdbcType="VARCHAR" property="aiImgSrc" />-->
      <!--      <result column="ai_img_content" jdbcType="LONGVARCHAR" property="aiImgContent" />-->
      <result column="ai_scale_id" jdbcType="INTEGER" property="aiScaleId" />
    </association>
  </resultMap>
  <resultMap id="Map3" type="com.aixl.m.model.aiTestResult">
    <id column="ai_user_id" jdbcType="CHAR" property="aiUserId" />
    <result column="ai_scale_id" jdbcType="INTEGER" property="aiScaleId" />
    <result column="ai_test_name" jdbcType="VARCHAR" property="aiTestName" />
    <association property="testImgs" javaType="com.aixl.m.model.aiTestImg">
      <id column="ai_img_id" jdbcType="CHAR" property="aiImgId" />
      <id column="ai_report_time" jdbcType="TIMESTAMP" property="aiReportTime" />
      <!--      <result column="ai_img_src" jdbcType="VARCHAR" property="aiImgSrc" />-->
      <!--      <result column="ai_img_content" jdbcType="LONGVARCHAR" property="aiImgContent" />-->
      <result column="ai_scale_id" jdbcType="INTEGER" property="aiScaleId" />
    </association>
    <association property="testHtmls" javaType="com.aixl.m.model.aiTestHtml">
      <id column="ai_report_text_time" jdbcType="TIMESTAMP" property="aiReportTextTime" />
      <id column="ai_report_text_id" jdbcType="CHAR" property="aiReportTextId" />
      <result column="ai_doc_id" jdbcType="CHAR" property="aiDocId" />
      <result column="ai_doc_name" jdbcType="CHAR" property="aiDocName" />
      <!--      <result column="ai_report_text_html" jdbcType="LONGVARCHAR" property="aiReportTextHtml" />-->
      <result column="ai_scale_id" jdbcType="INTEGER" property="aiScaleId" />
    </association>
  </resultMap>

    <select id="findAll" resultMap="Map2">
    select * from ai_test_result a,ai_test_html b,ai_test_img c where a.ai_user_id = b.ai_report_text_id
    and a.ai_user_id = c.ai_img_id
  </select>
<!--<select id="findAll" resultMap="Map1">-->
<!--  select * from ai_test_result a LEFT outer join ai_test_html b on a.ai_user_id = b.ai_report_text_id and a.ai_scale_id = b.ai_scale_id-->
<!--  left outer join ai_test_img c on   a.ai_user_id = c.ai_img_id and a.ai_scale_id = c.ai_scale_id where a.ai_user_id =1-->
<!--</select>-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ai_test_result
    where ai_user_id = #{aiUserId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.aixl.m.model.aiTestResult">
    insert ignore ai_test_result (ai_user_id, ai_scale_id, ai_test_name
      )
    values (#{aiUserId,jdbcType=CHAR}, #{aiScaleId,jdbcType=INTEGER}, #{aiTestName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aixl.m.model.aiTestResult">
    update ai_test_result
    set ai_scale_id = #{aiScaleId,jdbcType=INTEGER},
      ai_test_name = #{aiTestName,jdbcType=VARCHAR}
    where ai_user_id = #{aiUserId,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select * from ai_test_result
    where ai_user_id = #{aiUserId,jdbcType=CHAR} and ai_scale_id = #{aiScaleId}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ai_user_id, ai_scale_id, ai_test_name
    from ai_test_result
  </select>
</mapper>